#root {
    flex: 1;
    display: flex;
    margin: 0;
    max-height: 100vh;
}

.flexbox {
    display: flex;
}

.flexbox-col {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1
}

.background {
    --background-color: hsla(0, 0%, 10%, 0.8);
    --blur-radius: 8px;
    
    background-color: var(--background-color);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.border {
    --border-width: 1px;
    --border-color: hsl(0, 0%, 40%);
    --border-radius: 12px;

    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
}

.border-bottom {
    border-bottom: var(--border-width) solid var(--border-color);
}

#container {
    padding: var(--container-padding);
}

#terminal {
    --padding: 24px;
    --command-bar-font-size: var(--font-size);
    --command-bar-top-padding: 14px;

    font-family: var(--font-family);
    padding: var(--padding);
    padding-bottom: 18px; /* temporary */
    box-sizing: border-box;
    max-width: calc(100vw - 2 * var(--container-padding));
    max-height: calc(100vh - 2 * var(--container-padding));
}

#command-bar {
    font-size: var(--command-bar-font-size);
    font-family: inherit;
    padding-top: var(--command-bar-top-padding);
}

#command-bar::before{
    content: ">";
    padding-right: 0.7rem;
}

.disabled {
    
}

#output {
    overflow-y: auto;
    padding-bottom: var(--command-bar-top-padding);
}

#output div {
    white-space: pre-line;
    font-size: var(--font-size);
    font-family: inherit;
}