#root {
    flex: 1;
    display: flex;
    margin: 0;
}

#command-bar-container {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: 24px; /* temporary */
}

#command-bar {
    display: flex;
}

#command-bar input {
    flex: 1;
}

#output {
    flex: 1;
    white-space: pre-line;
    border-radius: var(--border-radius);

#disabled {
    background-color: red;
}