:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-size: var(--font-size);
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-family: monospace;
  --font-size: 16px;
  --container-padding: 24px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;

  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;

  background-image: url(./assets/autumn.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  outline: none;
}